<div class="box" id="resultScreen">
    <div class="body">
        <div class="caja" id="screenPreguntas">

            <div class="titulo">
                <img width="4%" src="../../../assets/logo.jpg" />
                ELABORADO POR INGENIERÍA EN SEGURIDAD INDUSTRIAL, 4TO "B"

            </div>

            <div class="caja-pregunta" #pregunta
                style="text-align: center; font-size: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                <b>TEST DE PERSONALIDAD (RESULTADOS)</b>
            </div>
            <br>
            <div class="caja-pregunta" #pregunta style="text-align: center">
                <select #escoge1 [(ngModel)]="seleccionado" id="select" (change)="elige_pregunta()">
                    <option [value]="0" selected disabled>--- Seleccione ---</option>
                    <option [value]="1">Primera Pregunta</option>
                    <option [value]="2">Segunda Pregunta</option>
                    <option [value]="3">Tercera Pregunta</option>
                    <option [value]="4">Cuarta Pregunta</option>
                    <option [value]="5">Quinta Pregunta</option>
                    <option [value]="6">Sexta Pregunta</option>
                    <option [value]="7">Septima Pregunta</option>
                    <option [value]="8">Octava Pregunta</option>
                    <option [value]="9">Novena Pregunta</option>
                    <option [value]="10">Decima Pregunta</option>
                    <option [value]="11">TOTAL DE NIVELES</option>
                </select>
                <div style="cursor: pointer;" class="botones">
                    <button style="cursor: pointer;" (click)="ver_tabla()" class="center" #boton>
                        Ver Tabla ▶
                    </button>
                </div>
                <div *ngIf="(tabla)">
                    <table id="example" class="display" style="width:100%" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>Carrera</th>
                                <th>Primera Pregunta</th>
                                <th>Segunda Pregunta</th>
                                <th>Tercera Pregunta</th>
                                <th>Cuarta Pregunta</th>
                                <th>Quinta Pregunta</th>
                                <th>Sexta Pregunta</th>
                                <th>Septima Pregunta</th>
                                <th>Octava Pregunta</th>
                                <th>Novena Pregunta</th>
                                <th>Decima Pregunta</th>
                                <th>NIVEL</th>
                                <th>PUNTAJE TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fila of datos">
                                <td> {{fila.carrera}} </td>
                                <td> {{fila.primera}} </td>
                                <td> {{fila.segunda}} </td>
                                <td> {{fila.tercera}} </td>
                                <td> {{fila.cuarta}} </td>
                                <td> {{fila.quinta}} </td>
                                <td> {{fila.sexta}} </td>
                                <td> {{fila.septima}} </td>
                                <td> {{fila.octava}} </td>
                                <td> {{fila.novena}} </td>
                                <td> {{fila.decima}} </td>
                                <td> {{fila.total_texto}} </td>
                                <td> {{fila.total_puntaje}} </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <br>
                <br>

                <div *ngIf="(seleccionado!=0)" class="row align-items-center">
                    <div class="col">
                        {{pregunta_texto}}
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <div class="center">
                            <div>
                                <div class="chart">
                                    <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets"
                                        [labels]="pieChartLabels" [options]="pieChartOptions"
                                        [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                                    </canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>