<div class="box" id="resultScreen">
    <div class="body">
        <div class="caja" id="screenPreguntas">
            <div class="caja-pregunta" #pregunta>
            </div>
            <div *ngIf="(num_pre==3)" class="caja-imagen">
                <img height="300" width="300" src="../../../assets/IMG-20220801-WA0048.jpg" class="center"/>
            </div>
            <div *ngIf="(num_pre==9)" class="caja-imagen">
                <img height="300" width="300" src="../../../assets/IMG-20220802-WA0002.jpg" class="center"/>
            </div>
            <div class="caja-opciones">
                
                <span style="cursor: pointer;" #opcion1 [ngStyle]="estilo1" (click)="comprueba('opcion1')"></span>
                <span style="cursor: pointer;" #opcion2 [ngStyle]="estilo2" (click)="comprueba('opcion2')"></span>
                <span style="cursor: pointer;" #opcion3 [ngStyle]="estilo3" (click)="comprueba('opcion3')"></span>
                
            </div>

            <div style="cursor: pointer;" class="botones">
                <button style="cursor: pointer;" class="center" #boton (click)="siguiente()">
                    Siguiente ▶
                </button>
            </div>
        </div>
    </div>
</div>